/*Stop Overscrolling*/
html, body{
    overscroll-behavior: none;
}

html{
    overflow-x: clip;
    overflow-y: auto;
    scrollbar-width: none;
}

html::-webkit-scrollbar{
    display: none;
}

/*make all scroll bars on browsers not show*/
html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}

/*Get the grid to show on the gameArea side*/
body{
    margin: 0; /*Remove the gap between the elements*/
    display: flex; /*Arrange using a flexbox*/
    width: 100%;
    min-height: 100vh;
    /*overflow: hidden; /*Normally a browser creates a scrollbar if element goes beyond the bottom, shops this*/
}

#gameArea{
    width: 80vw;
    height: 100vh;

    background-color: black;
    background-image:
        linear-gradient(to right, #888 1px, transparent 1px), /*Creates the vertical lines*/
        linear-gradient(to bottom, #888 1px, transparent 1px); /*Creates the horrisontal lines*/
    

    background-size: 10% 10%;
    
    position: sticky;
    top: 0; /*Keeps the gamearea at the correct height*/
}

/*Get the shop to be the remaining 20%*/
#shop{
    width: 20%;
    min-height: 100%;
    background-color: #1a1a1a;
    color: grey;

    padding: 15px; /*Gap between the obejects in the shop*/
    box-sizing: border-box;
}

/*Get the text to be in the middle*/
h1{
    text-align: center;
}

/*Get all shop items in the correct format*/
.shopItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopItem p{
    margin: 0;
}

.shopItem button{
    background-color: lightslategrey;
    border-radius: 11px;
}

/*Get the ball to be in the correct postion*/
.standardBall{
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: lightgrey;
}

.bigBall{
    position: absolute;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    background-color: lightblue;
}

.redBall{
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: lightcoral;
}

.automoverBall{
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: lightgreen;
}

.goldenBall{
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: gold;
}

.tinyBall{
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    background-color: lightseagreen;
}

.luckyBall{
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: lightyellow;

    /*Let ? be in middle*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkslategrey;

    font-family: Arial Black, Arial, sans-serif;
    font-weight: bold;
}

/*Create a divider between upgrades and balls*/
hr{
    border: none;
    border-top: 1px solid gray;
    width: 100%;
    margin: 20px 0;
}

/*Create text above the balls to show the score increase*/
.gainText{
    position: absolute;
    color: lightgrey;
    font-weight: bold;
    pointer-events: none;

    animation: scoreGain 1s forwards;
}

@keyframes scoreGain{
    from{
        transform: translateY(0);
        opacity: 1;
    }

    to{
        transform: translateY(-25px);
        opacity: 0;
    }
}

/*Make black hole look good*/
.blackHole{
    position: absolute;

    width: 8vmin;
    height: 8vmin;

    border-radius: 50%;

    background-color: black;

    box-shadow:
        0 0 10px purple,
        0 0 20px rgba(128, 0, 128, 0.7),
        0 0 35px rgba(128, 0, 128, 0.4);
}

/*Make all full rebirth stuff hidden*/
#fullRebirthShop{
    display: none;
}

#persistent{
    display: none;
}

#fullRebirthDivider{
    display: none;
}

/*Make anything hidden available to be shown*/
.nowOnDisplay{
    display: block !important;
}
.shopItem.nowOnDisplay{
    display: flex !important;
}

/*CSS for rebirth balls*/
.persistentBall{
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: lightseagreen;
}